<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %>

      <main class="mainCatalogo">
        <h2>
          <%=productFinded.name%>
        </h2>

        <section>
          <article class="producto">
            <img src="/img/imgProducts/<%= productFinded.image %>" width="200px" alt="Imagen figurativa del producto" />

            <p>
              <%=productFinded.description%>
            </p>
            <p>$ <%=productFinded.price%>
            </p>
            <div class="carritoProductos">
              <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </article>
        </section>
      </main>

      <%- include ('./partials/footer') %>
  </body>

</html>