<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %>

      <main class="RegisterCajaMain">
        <div class="RegisterMain">
          <h3>DATOS DEL PRODUCTO</h3>

          <!--
        <% if (locals.errores) { %> <% errores.forEach(unError => { %>
        <p class="erroresRegister"><%= unError.msg %></p>
        <%}) %> <%}%>
        -->
          <form action="/products/edit/<%= productFinded.id %>?_method=PUT" method="POST">


            <br />
            <label class="titulo_productAdd magen_top_productAdd">
              Nombre de su imagen
            </label>
            <br />
            <input class="text_productAdd" type="text" name="image" value="<%= productFinded.image %>" />
            <br />
            <label class="titulo_productAdd magen_top_productAdd">
              Nombre del producto
            </label>
            <br />
            <input class="text_productAdd" type="text" name="name" value="<%= productFinded.name %>" />
            <br />

            <label class="titulo_productAdd magen_top_productAdd">Descripci贸n</label>
            <br />
            <textarea name="description" rows="6" value="<%= productFinded.description %>"></textarea>
            <br />

            <div class="options_productAdd">

              <label class="titulo_productAdd magen_top_productAdd">
                Tipo
              </label>

              <br />

              <select name="tipoDeProducto">
                <option value="">Selecciona una opci贸n</option>
                <% types.forEach(oneType=>{%>
                  <option value="<%= oneType.id %>">> <%=oneType.name %>
                  </option>
                  <% }) %>
              </select>

              <br />

              <label class="titulo_productAdd magen_top_productAdd">Categoria</label>
              <br />
              <select name="categories" multiple>
                <option value="">Selecciona una opci贸n</option>
                <% categories.forEach(oneCategory=>{%>
                  <option value="<%= oneCategory.id %>" <%=oneCategory.id===categories.categoryId ? 'selected' :'' %>
                    >
                    <%= oneCategory.name %>
                  </option>
                  <% }) %>
              </select>
              <br />

              <label class="titulo_productAdd magen_top_productAdd"> Marca </label>
              <br />
              <select name="brandId">
                <option value="">Selecciona una opci贸n</option>
                <% brands.forEach(oneBrand=>{%>
                  <option value="<%= oneBrand.id %>" <%=oneBrand.id===productFinded.brandId ? 'selected' : "" %>
                    >


                    <%= oneBrand.name %>



                  </option>
                  <% }) %>
              </select>
              <br />

              <div>
                <label type="text" class="titulo_productAdd">Precio:</label>
                <br />

                <input class="precio_text_productAdd" type="number" name="price" value="<%= productFinded.price %>" />

                <hr class="magen_top_productAdd" />
              </div>

              <button type="submit" class="Login_Button_productAdd">Enviar</button>

              <button type="reset" class="Login_Button_productAdd">Cancelar</button>
          </form>
        </div>
      </main>
      <%- include ('./partials/footer') %>
  </body>

</html>